# MovieLens DataSet
### Analysis of movies from the movielens dataset

In [1]:
import pandas as pd

ratings = pd.read_csv('Data/Movielens/Small/ratings.csv')
movies = pd.read_csv('Data/Movielens/Small/movies.csv')

In [7]:
movies.tail()

,movieId,title,genres
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
#ratings.info()
#movies.info()

In [ ]:
# columns, info, memory_usage
# set_index y reset_index
# Loc, Iloc e Ix
# Boolean filters y multiple boolean
# Drop para rows y columns
# Handling missing values, dropna, fillna
# Apply, Map, Applymap
# Columnas categoricas
# merge
# Groupby, agg
# Pivot