# MovieLens DataSet
### Analysis of movies from the movielens dataset

In [2]:
import pandas as pd

ratings = pd.read_csv('Data/Movielens/Small/ratings.csv')
movies = pd.read_csv('Data/Movielens/Small/movies.csv')

In [3]:
movies.tail()

,movieId,title,genres
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
#ratings.info()
#movies.info()

In [7]:
# Add the year column
movies['year'] = movies['title'].str.extract(r"\(([0-9]+)\)",expand=False)
movies.head(10)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
5,6,Heat (1995),Action|Crime|Thriller,1995
6,7,Sabrina (1995),Comedy|Romance,1995
7,8,Tom and Huck (1995),Adventure|Children,1995
8,9,Sudden Death (1995),Action,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995

In [ ]:
# columns, info, memory_usage
# set_index y reset_index
# Loc, Iloc e Ix
# Boolean filters y multiple boolean
# Drop para rows y columns
# Handling missing values, dropna, fillna
# Apply, Map, Applymap
# Columnas categoricas
# merge
# Groupby, agg
# Pivot