# MovieLens DataSet
### Analysis of movies from the movielens dataset

In [17]:
import pandas as pd
encoding = 'latin1'

#unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
mnames = ['movie_id', 'title', 'genres']

users = pd.read_csv('Data/Movielens/users.dat', engine='python',sep='::', header=None, names=unames, encoding=encoding)
ratings = pd.read_csv('Data/Movielens/ratings.dat', engine='python',sep='::', header=None, names=rnames, encoding=encoding)
movies = pd.read_csv('Data/Movielens/movies.dat', engine='python',sep='::', header=None, names=mnames, encoding=encoding)

In [7]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [8]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [11]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [10]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
user_id      1000209 non-null int64
movie_id     1000209 non-null int64
rating       1000209 non-null int64
timestamp    1000209 non-null int64
dtypes: int64(4)
memory usage: 30.5 MB

In [ ]:
# columns, info, memory_usage
# set_index y reset_index
# Loc, Iloc e Ix
# Boolean filters y multiple boolean
# Drop para rows y columns
# Handling missing values, dropna, fillna
# Apply, Map, Applymap
# Columnas categoricas
# merge
# Groupby, agg
# Pivot

In [22]:
ratings.loc[ratings.movie_id>20,['movie_id','rating']]

         movie_id  rating
0            1193       5
1             661       3
2             914       3
3            3408       4
4            2355       5
5            1197       3
6            1287       5
7            2804       5
8             594       4
9             919       4
10            595       5
11            938       4
12           2398       4
13           2918       4
14           1035       5
15           2791       4
16           2687       3
17           2018       4
18           3105       5
19           2797       4
20           2321       3
21            720       3
22           1270       5
23            527       5
24           2340       3
25             48       5
26           1097       4
27           1721       4
28           1545       4
29            745       3
...           ...     ...
1000179      2762       4
1000180      1036       3
1000181       508       4
1000182      1041       4
1000183      3735       4
1000184      2791       4
1000185      2794       1
1000186       527       5
1000187      2003       1
1000188       535       4
1000189      2010       5
1000190      2011       4
1000191      3751       4
1000192      2019       5
1000193       541       4
1000194      1077       5
1000195      1079       2
1000196       549       4
1000197      2020       3
1000198      2021       3
1000199      2022       5
1000200      2028       5
1000201      1080       4
1000202      1089       4
1000203      1090       3
1000204      1091       1
1000205      1094       5
1000206       562       5
1000207      1096       4
1000208      1097       4

[990217 rows x 2 columns]